.fondo {
  display: flex;
  height: 280vh;
  background-color: #01102f;
  }

.titulo{
  font-size: 32px;
  color: #ffffff;
}

.subtitulo{
  text-align: center; 
  font-size: 27px;
  color: #ffffff;
}

.subtitulo2{
  text-align: center; 
  font-size: 27px;
  color:#4d545c;
}

.texto{
  font-size: 20px;
  color: #7c839c;
}

.imagen-centar {
  width: 100%; 
  text-align: center; 
}

.imagen-AT04 {
  width: 300px; 
  height: auto; 
  margin: 0 auto; 
}

.imagen-yuki{
  width: 500px; 
  height: auto; 
  margin: 0 auto;
  margin-right: 260px
}

.imagen-liam{
  width: 450px; 
  height: auto; 
  margin: 100 auto;
}

.titulo-yuki{
  font-size: 27px;
  color: #847c94;
  padding-left: 165px;
  margin-right: 360px;
  justify-content: left;
  display: inline;
}
.titulo-liam{
  font-size: 27px;
  color: #847c94;
  padding-left: 190px;
  justify-content: left;
  display: inline;
}

.texto-yuki{
  font-size: 20px;
  color: #7c839c;
  padding-left: 195px;
  margin-right: 600px;
  justify-content: left;
  display: inline-block;
}


.texto-liam{
  color: #7c839c;
  font-Size: 20px;
  font-Weight: bold; 
  text-Align: right;
  justify-content: right;
  padding-Right: 20px;
  display: inline-block;
}