.fondo2 {
    display: flex;
    height: 280vh;
    background: linear-gradient(to left, #5da4e9, #e198cc);
}
@font-face {
  font-family: 'Urbanist';
  src: url('./fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
}

.titulo2 {
    font-family: 'Urbanist', cursive;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
}

.subtitulo2{
    font-family: 'Urbanist', cursive;
    text-align: center; 
    font-size: 27px;
    color: #ffffff;
  }
  
  
  .texto2{
    text-align: center;
    font-size: 20px;
    color: #272c40;
  }
  
  .imagen-centar2 {
    width: 100%; 
    text-align: center; 
  }
  
  .imagen-A523 {
    width: 300px; 
    height: auto; 
    margin: 0 auto; 
  }
  
  .imagen-gasly{
    width: 450px; 
    height: auto; 
    margin: 0 auto;
    margin-right: 260px
  }
  
  .imagen-ocon{
    width: 450px; 
    height: auto; 
    margin: 100 auto;
  }
  
  .titulo-gasly{
    font-family: 'Urbanist', cursive;
    font-size: 27px;
    color: #272c40;
    padding-left: 550px;
    justify-content: left;
    display: inline;
  }
  .titulo-ocon{
    
    font-family: 'Urbanist', cursive;
    font-size: 27px;
    color: #272c40;
    padding-left: 160px;
    justify-content: left;
    display: inline;
  
  }
  
  .texto-gasly{
    color: #272c40;
    font-Size: 20px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    padding-Right: 20px;
    display: inline-block;

    
  }
  
  
  .texto-ocon{
    font-size: 20px;
    color: #272c40;
    padding-left: 195px;
    margin-right: 625px;
    justify-content: left;
    display: inline-block;
  }

  .texto1-gasly{
    color: #272c40;
    font-Size: 20px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    padding-Right: 20px;
    display: inline-block;

    
  }
  
  .texto1-ocon{
    font-size: 20px;
    color: #272c40;
    padding-left: 195px;
    margin-right: 596px;
    justify-content: left;
    display: inline-block;
  }

  .texto2-gasly{
    color: #272c40;
    font-Size: 20px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    padding-Right: 20px;
    display: inline-block;

    
  }
  
  .texto2-ocon{
    font-size: 20px;
    color: #272c40;
    padding-left: 195px;
    margin-right: 599px;
    justify-content: left;
    display: inline-block;
  }

  .texto3-gasly{
    color: #272c40;
    font-Size: 20px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    padding-Right: 20px;
    display: inline-block;

    
  }
  
  .texto3-ocon{
    font-size: 20px;
    color: #272c40;
    padding-left: 195px;
    margin-right: 555px;
    justify-content: left;
    display: inline-block;
  }