.fondo3 {
    display: flex;
    height: 280vh;
    background: #3fc1ba;
}

.titulo3 {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
}

.subtitulo3{
    text-align: center; 
    font-size: 27px;
    color: #ffffff;
  }
  
  .texto3{
    text-align: center;
    font-size: 20px;
    color: #272c40;
  }
  
  .imagen-centar3 {
    width: 100%; 
    text-align: center; 
  }
  
  .imagen-AMR23 {
    width: 300px; 
    height: auto; 
    margin: 0 auto; 
  }
  
  .imagen-stroll{
    width: 450px; 
    height: auto; 
    margin: 0 auto;
    
  }
  
  .imagen-alonso{
    width: 450px; 
    height: auto; 
    margin: 100 auto;
    margin-right: 260px
  }
  
  .titulo-stroll{
    font-size: 27px;
    color: #c6d3be;
    display: inline;
  }

  .titulo-alonso{
    font-size: 27px;
    color: #c6d3be;
    display: inline;
  }
  
  .texto-stroll{
    font-size: 20px;
    color: #95631d;
    display: inline-block;
    padding-left: 80px;
  }
  
  
  .texto-alonso{
    color: #95631d;
    font-Size: 20px;

    display: inline-block;
  }

  .texto1-stroll{
    font-size: 20px;
    color: #95631d;
    justify-content: left;
    display: inline-block;
  }
  
  
  .texto1-alonso{
    color: #95631d;
    font-Size: 20px;
    padding-left: 195px;
    margin-right: 600px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    display: inline-block;
  }

  .texto1-stroll{
    font-size: 20px;
    color: #95631d;
    justify-content: left;
    display: inline-block;
  }
  
  
  .texto1-alonso{
    color: #95631d;
    font-Size: 20px;
    padding-left: 195px;
    margin-right: 594px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    display: inline-block;
  }

  .texto2-stroll{
    font-size: 20px;
    color: #95631d;
    justify-content: left;
    display: inline-block;
  }
  
  
  .texto2-alonso{
    color: #95631d;
    font-Size: 20px;
    padding-left: 195px;
    margin-right: 587px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    display: inline-block;
  }

  .texto3-stroll{
    font-size: 20px;
    color: #95631d;
    justify-content: left;
    display: inline-block;
  }
  
  
  .texto3-alonso{
    color: #95631d;
    font-Size: 20px;
    padding-left: 195px;
    margin-right: 552px;
    font-Weight: bold; 
    text-Align: right;
    justify-content: right;
    display: inline-block;
  }