.fondo5 {
    display: flex;
    height: 280vh;
    background: #d0caca;
}

.titulo5 {
    text-align: center;
    font-size: 32px;
    color: #0f0f0f;
}

.subtitulo5{
    text-align: center; 
    font-size: 27px;
    color: #0f0f0f;
  }
  
  .texto5{
    text-align: center;
    font-size: 20px;
    color: #b82f2d;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  .imagen-centar5{
    width: 100%; 
    text-align: center; 
  }
  
  .imagen-VF{
    width: 300px; 
    height: auto; 
    margin: 0 auto; 
  }
  
  .imagen-magn{
    width: 450px; 
    height: auto; 
    margin: 0 auto;
    
  }
  
  .imagen-hulk{
    width: 450px; 
    height: auto; 
    margin: 100 auto;
    margin-right: 260px
  }
  
  .titulo-magn{
    font-size: 27px;
    color: #b82f2d;
    display: inline;
  }
  .titulo-hulk{
    font-size: 27px;
    color: #b82f2d;
    display: inline;
  }
  
  .texto-magn{
    font-size: 20px;
    color: #3c3737;
    display: inline-block;
    padding-left: 20px;
  }
  
  .texto-hulk{
    color: #3c3737;
    font-Size: 20px;
    display: inline-block;
  }