.titulo-cal{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
    color: gold;
}
.esotilin{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}