.container1 {
    background-color: #0092c4;
}

.titulo {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.texto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.texto {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}