.fondo-escu {
    background: 'url("https://i.pinimg.com/736x/e7/28/d9/e728d9f8648fef7d304db9556bd57891.jpg") center/cover';
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}

.botonRedBull {
    position: absolute;
    top: 359px; 
    left: 0px; 
    
  }

.botonAlfaRomeo {

    position: absolute;
    top: 359px; 
    left: 276px; 
}

.botonAston {
    position: absolute;
    top: 359px;
    left: 545px; 
    
  }

.botonMcLaren {
    position: absolute;
    top: 359px; 
    left:  822px; 
}

.botonHaas {
    position: absolute;
    top: 359px;
    left: 1086px; 
    
}

.botonAlphaTauri {

    position: absolute;
    top: 73px; 
    left:  0px; 
    
}

  .botonFerrari {
    position: absolute;
    top: 73px;
    left: 276px; 
}

.botonMercedes {
    position: absolute;
    top: 73px; 
    left:  545px; 
}

.botonWilliams {
    position: absolute;
    top: 73px;
    left: 816px; 
}

.botonAlpine {
    position: absolute;
    top: 73px;
    left:  1086px; 
}